<html>

<body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<div id="app2">
<h1>{{message}}</h1>
<h2>{{result}}</h2>
<br>
<input type="text" v-model="name"/>
<button @click="getMethod()">Submit</button>

</div>

<div id="app">
    {{ info }}
    <br><h1>Hello dsfsdf  sfsdfsdfsdf</h1>
    {{ time }}
  </div>

<script>




var vueobj = new Vue({

    el:'#app2',
    data:{
           message : 'hello from world',
           name:null,
           result : '1245'

    },
    methods:{
        
        getMethod()
        {
            this.message =  this.name 
        }
    }
})

var vueobj2 = new Vue({
  el: '#app',
  data () {
    return {
      info: null,
      time:null
      
    }
  },
  mounted () {
    axios
    .get('http://localhost/revision/public/api/getstudents').then(response => (this.info = response ))
  }
})




</script>

</body>

</html>